<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks MVC</title>
</head>
<body>
  <nav id="navbar">
    <ul>
      <li><a href="/">Ver todos</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>
</html>