<div id="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
  {{#with booksForId}}
    <h1>{{title}}</h1>
    <p>Este Livro tem {{pagesqty}} páginas.</p>
  {{/with}}
  </div>
</div>

