* {
  font-family: Helvetica;
  margin: 0;
}
#navbar {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#navbar ul{
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: end;
  margin: 0;
}

#navbar ul li{
  font-style: none;
}

h1 {
  text-align: center;
}

form,
.books-container{
  width: 450px;
  margin: 0 auto;
  font-size: x-large;
  display: flex;
  gap: 10px;
  flex-direction: column; 
  
}

form div label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 5px;
}

.submit {
  width: 50%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.form-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-checkbox input {
  height: 20px;
  width: auto;
}

.form-checkbox label {
  font-size: medium;
  width: 100%;
}


